/* Backbone CSS for Resume Template 1 */

/* Basic */

 [data-scope="vue-smart-pages"][data-part="page"] {
  background-color: white;
  color: black;
  text-align: justify;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

 a {
  text-decoration: underline
}

 p,
 li,
 dl {
  margin: 0;
}

/* Headings */

 h1,
 h2,
 h3 {
  font-weight: bold;
}

 h1 {
  font-size: 2.13em;
}

 h2,
 h3 {
  margin-bottom: 5px;
  font-size: 1.2em;
}

 h2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/* Lists */

 ul,
 ol {
  padding-left: 1.5em;
  margin: 0.2em 0;
}

 ul {
  list-style-type: circle;
}

 ol {
  list-style-type: decimal;
}

/* Definition Lists */

 dl {
  display: flex;
}

 dl dt,
 dl dd:not(:last-child) {
  flex: 1;
}

/* Tex */

 :not(span.katex-display) > span.katex {
  font-size: 1em !important;
}

/* SVG & Images */

 svg.iconify {
  vertical-align: -0.2em;
}

 img {
  max-width: 100%;
}

/* Header */

 .resume-header {
  text-align: center;
}

 .resume-header h1 {
  text-align: center;
  line-height: 1;
  margin-bottom: -10px;
}

 .resume-header-item:not(.no-separator)::after {
  content: " | ";
}

/* Citations */

 [data-scope="cross-ref"][data-part="definitions"] {
  padding-left: 1.2em;
}

 [data-scope="cross-ref"][data-part="definition"] p {
  margin-left: 0.5em;
}

 [data-scope="cross-ref"][data-part="definition"]::marker {
  content: attr(data-label);
}

 [data-scope="cross-ref"][data-part="reference"] {
  font-size: 100%;
  top: 0;
}

/* Dark & print mode */
/* You might want to comment out the following lines if you change the background or text color. */

.dark  [data-scope="vue-smart-pages"][data-part="page"] {
  background-color: hsl(213, 12%, 15%);
  color: hsl(216, 12%, 84%);
}

@media print {
  .dark  [data-scope="vue-smart-pages"][data-part="page"] {
    background-color: white;
    color: black;
  }
}
